<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">About</h1>
</div>

<img
  src="img/picture.jpeg"
  alt="nust logo"
class="rounded-top rounded-bottom"
  width="473"
  height="416"
/>

<div class="pt-3">
  <h3>Services at the clinic</h3>
  <ul>
    <li>
      Contraceptives such as oral contraceptives, female and male condoms and
      injectablesConta
    </li>
    <li>HIV Testing and Counselling (both voluntary and provider-initiated)</li>
    <li>
      Treatment of minor ailments such as headaches, common cold, chest
      infections, period pain, diarrhoea and eye infections
    </li>
    <li>
      Treatment of chronic illness such as asthma, mental problems, heart
      conditions and high blood pressure
    </li>
    <li>
      Conducting various blood investigations such as full blood count, malaria,
      urine for pregnancy test
    </li>
    <li>Provision of drugs such as antibiotics, painkillers and anti-acids</li>
    <li>Referral for life-threatening illnesses and specialised services</li>
    <li>
      Provision of First aid during examinations and sporting activities, away
      from the clinic
    </li>
    <li>Support visits to hospitalised students</li>
  </ul>

  <h4>
    In case of emergencies when the clinic is closed (phone numbers for
    ambulances services)
  </h4>

  <pr>
    ST Johns :09 – 881875 / 0716396155 </br>brCity Council : 09 – 71717/ 8/ 9 </br>NETSTAR :
    09 – 884471 </br>EMRAS : 09 – 62611/ 62188 </br>MARS : 09 – 60351/ 64082/883173/ 83
  </pr>

  <h4>Transfer to UBH</h4>
  <p>Students are reminded to have their Medical Aid Cards on them always</p>

  <h4>Medical Aid</h4>
  <pr>All students are required to register with the Heritage Schoolmate Health Fund and they pay a fee of $10.00 per semester, as part of their semester fees. For this, the student is issued with a Medical Aid Card, which can be used to access health services at government, mission and municipal hospitals or clinics in Zimbabwe. However, in cases of emergency such as a need for cancer treatment or heart surgery, the University may facilitate treatment of students in private of foreign health institutions</pr>

</br>

</br>
<footer>
  <p class="text-primary">Tanyaradzwa T Mushonga Copyright &copy; 2023 All rights reserved</p>
</footer>


</div>
